.container {
  margin: 2em auto;
}
.nav-tabs {
  position: sticky;
  top: 56px;
  background-color: #343a40 !important;
  z-index: 1020;
}
a {
  color: #17a2b8;
}
a:hover {
  color: #17a2b8;
}
.form-control:focus {
  border-color: #17a2b8;
  box-shadow: 0 0 0 .2rem rgba(23,162,184,.25);
}
table {
  text-align: center;
}
.react-datepicker-wrapper {
  width: 100%
}
.react-datepicker-wrapper input {
  width: 100%;
  display: block;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.react-datepicker-wrapper input:focus {
  border-color: #17a2b8;
  box-shadow: 0 0 0 .2rem rgba(23,162,184,.25);
  outline: 0
}
td .btn {
  margin: 0 5px
}
td {
  vertical-align: middle !important
}
.dropdown-menu {
  min-width: 53px
}
.dropdown-menu.show button {
  margin: 0px 0px 2px 0px
}
.dropdown-item {
  display: flex;
  width: 45px;
	padding: .25rem;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
  border: 0;
  flex-wrap: wrap;
}